<div class="flex items-center gap-3">
  <label class="block w-30 shrink-0">{{ label }}</label>

  @if (inputType === 'textarea') {
    <textarea
      pTextarea
      fluid
      [rows]="rows"
      [formControl]="getFormControl()"
      [placeholder]="placeholder"
      [invalid]="control.touched && control.invalid"
    ></textarea>
  } @else {
    <p-iconfield class="w-full">
      <p-inputicon [class]="icon" />
      <input
        pInputText
        fluid
        [type]="type"
        [formControl]="getFormControl()"
        [placeholder]="placeholder"
        [invalid]="control.touched && control.invalid"
      />
    </p-iconfield>
  }
</div>
@if ((control.touched || control.dirty) && control.invalid) {
  <div class="pt-1 flex gap-3">
    <div class="block w-30 shrink-0"></div>
    <div>
      @if (control.hasError('required')) {
        <p-message severity="error" size="small" icon="pi pi-times-circle"
          >This field is required</p-message
        >
      }
      @if (control.hasError('email')) {
        <p-message severity="error">Invalid email format</p-message>
      }
      @if (control.hasError('minlength')) {
        <p-message severity="error">
          Minimum
          {{ control.getError('minlength')?.requiredLength }}
          characters
        </p-message>
      }
      @if (control.hasError('passwordMismatch')) {
        <p-message severity="error">Passwords do not match</p-message>
      }
    </div>
  </div>
}
